/*
 * Hackathon
 * Documentação da API REST desenvolvida para o processamento de inscrições do Hackathon.
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.RelatorioProcessamento;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class HackathonApi {
    private ApiClient apiClient;
    private Map<String, String> headers;

    public HackathonApi() {
        this(Configuration.getDefaultApiClient());
    }

    public HackathonApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public void setHeadersOverrides(Map<String, String> headers) {
        this.headers = headers;
    }

    /**
     * Build call for hackathonProcessarGet
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call hackathonProcessarGetCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/hackathon/processar";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call hackathonProcessarGetValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = hackathonProcessarGetCall(progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Processa as inscrições do Hackathon (GET)
     * Lê o arquivo local &#x60;inscricoes_brutas.txt&#x60;, gera os arquivos de saída (&#x60;aprovados_hackathon.txt&#x60; e &#x60;pendencias_inscricao.txt&#x60;) e retorna o status.
     * @return RelatorioProcessamento
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RelatorioProcessamento hackathonProcessarGet() throws ApiException {
        ApiResponse<RelatorioProcessamento> resp = hackathonProcessarGetWithHttpInfo();
        return resp.getData();
    }

    /**
     * Processa as inscrições do Hackathon (GET)
     * Lê o arquivo local &#x60;inscricoes_brutas.txt&#x60;, gera os arquivos de saída (&#x60;aprovados_hackathon.txt&#x60; e &#x60;pendencias_inscricao.txt&#x60;) e retorna o status.
     * @return ApiResponse&lt;RelatorioProcessamento&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RelatorioProcessamento> hackathonProcessarGetWithHttpInfo() throws ApiException {
        com.squareup.okhttp.Call call = hackathonProcessarGetValidateBeforeCall(null, null);
        Type localVarReturnType = new TypeToken<RelatorioProcessamento>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Processa as inscrições do Hackathon (GET) (asynchronously)
     * Lê o arquivo local &#x60;inscricoes_brutas.txt&#x60;, gera os arquivos de saída (&#x60;aprovados_hackathon.txt&#x60; e &#x60;pendencias_inscricao.txt&#x60;) e retorna o status.
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call hackathonProcessarGetAsync(final ApiCallback<RelatorioProcessamento> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = hackathonProcessarGetValidateBeforeCall(progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RelatorioProcessamento>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for hackathonProcessarPost
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call hackathonProcessarPostCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/hackathon/processar";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call hackathonProcessarPostValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = hackathonProcessarPostCall(progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Processa as inscrições do Hackathon (POST)
     * Realiza exatamente a mesma operação de leitura e processamento de arquivos que a rota GET.
     * @return RelatorioProcessamento
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RelatorioProcessamento hackathonProcessarPost() throws ApiException {
        ApiResponse<RelatorioProcessamento> resp = hackathonProcessarPostWithHttpInfo();
        return resp.getData();
    }

    /**
     * Processa as inscrições do Hackathon (POST)
     * Realiza exatamente a mesma operação de leitura e processamento de arquivos que a rota GET.
     * @return ApiResponse&lt;RelatorioProcessamento&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RelatorioProcessamento> hackathonProcessarPostWithHttpInfo() throws ApiException {
        com.squareup.okhttp.Call call = hackathonProcessarPostValidateBeforeCall(null, null);
        Type localVarReturnType = new TypeToken<RelatorioProcessamento>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Processa as inscrições do Hackathon (POST) (asynchronously)
     * Realiza exatamente a mesma operação de leitura e processamento de arquivos que a rota GET.
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call hackathonProcessarPostAsync(final ApiCallback<RelatorioProcessamento> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = hackathonProcessarPostValidateBeforeCall(progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RelatorioProcessamento>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
